@media (max-width: 600px) {
  header {
    height: auto;
    padding: 10px;
    flex-direction: column;
  }
  .title {
    flex-direction: column-reverse;
    gap: 10px;
  }
  h2 {
    margin: 0 0 10px 0;
  }
  .cards {
    justify-content: center;
  }

  button,
  .block a,
  .title a,
  .button {
    width: 100%;
  }
}
